numpy==1.21.2
numpydoc==1.5.0
torch==1.10.0+cu113
torchaudio==0.10.0+cu113
torchvision==0.11.1+cu113
pygame==2.1.0
gym==0.26.2
gym-notices==0.0.6
matplotlib==3.5.1
matplotlib-inline==0.1.3
tqdm==4.62.3
opencv-python==4.4.0.46
